<p id="notice"><%= notice %></p>

<p>
  <strong>Serial number:</strong>
  <%= @truck.serial_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @truck.address %>
</p>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
